.fabric {
  display: grid;
  grid-template-columns: 10% 40% 40%;
  align-items: center;
  justify-content: space-around;

  .fabricBorder {
    opacity: 50%;

    .first {
      float: top;
      padding-bottom: 150px;
    }

    .scroll {
      transform: rotate(270deg);
      letter-spacing: 1px;
    }
  }

  .fabricHeader {
    width: 470px;
    font-size: 52px;
    font-weight: 520;
    text-align: left;
    letter-spacing: 2px;
    line-height: 60px;
  }

  .fabricSubheader {
    padding-top: 20px;
    font-size: 24px;
    color: #a3b8cc;
    text-align: left;
  }

  .fabricRight {
    display: grid;
    grid-template-columns: 25% 25% 25%;

    .ellipseRobo {
      background-color: #1e2936;
      width: 270px;
      height: 270px;
      border-radius: 50%;
      z-index: -1;
      margin-top: 66px;
      margin-left: -60px;
    }

    .leftRobo {
      height: 420px;
      margin-left: -50px;
    }

    .rightRobo {
      margin-top: 116px;
      margin-left: -40px;
      height: 270px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}
