.production {
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: center;

  .productionHeader {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 40px;
    letter-spacing: 1.5px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }

  label,
  p {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  h6 {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 10px;
  }

  .productionRadioTypes {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 40px;
    margin-top: 5px;
    gap: 20px;
    text-align: left;

    .radioType {
      display: flex;
      align-items: center;
    }
  }

  .fifth {
    opacity: 50%;
    float: left;
  }

  .productionCols {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-items: center;

    .productionButton {
      width: 236px;
      height: 48px;
      margin-top: 26px;
      border: 2px solid #ff7f22;
      border-radius: 60px;
      background: transparent;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      cursor: pointer;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      &:hover {
        background: #ff7f22;
        border: 2px solid #ff7f22;
        color: black;
        transition-duration: 0.3s;
      }
      &:disabled {
        color: #4c5865;
        border: 2px solid #4c5865;
        border-color: #4c5865;
        background: transparent;
        box-shadow: none;
        cursor: default;
      }
    }
  }

  .productionItem {
    h3 {
      margin-top: 60px;
      padding-bottom: 7px;
      font-weight: 600;
      font-size: 20px;
    }
    p {
      color: #a3b8cc;
      font-size: 16px;
      padding-bottom: 12px;
    }
    h5 {
      font-size: 20px;
    }
  }
}

.productionStock {
  padding-bottom: 60px;
  div {
    padding-bottom: 10px;
    button {
      background-color: transparent;
      border: transparent;
      fill: red;
      &:disabled {
        color: #4c5865;
        border: transparent;
      }
    }

    img {
      padding-right: 10px;
      cursor: pointer;
      fill: red;
    }
  }

  .thirdRow {
    text-align: left;
  }
}

.realRadio {
  display: none;
}

.customRadio {
  display: inline-flex;
  position: relative;
  width: 24px;
  height: 24px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #a3b8cc;
  margin-right: 10px;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-flex;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ff7f22;
    border-radius: 50%;
    display: none;
  }
}

.realRadio:checked + .customRadio::before {
  display: block;
}

.customRadio:hover {
  border: 2px solid #5d6872;
}
