.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  min-width: 1016px;
}


.header{
  display: flex;
  justify-content: space-between;
  padding: 48px;
  
  
  .header-btn {
    width: 236px;
    height: 48px;
    border: 2px solid #FF7F22;
    border-radius: 60px;    
    background: transparent;
    padding: 12px;    
    font-size: 16px;
    font-weight: 600;
    color: #fff;    
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

   
  }

     .header-btn:hover {
       background: #FF7F22;
     }

  .pacman {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;    
    border: solid #FF7F22 24px;
    border-radius: 50%;     
    box-sizing: border-box;
    border-color: #FF7F22 transparent #FF7F22 #FF7F22;

.dots {
    margin-left: 76px;
    display: flex;
    flex-direction: row;
    
    
    

    .dot{
      margin-right: 6px;
width: 9px;
  height: 9px;
  background: #FF7F22;
  border: 0px solid #FF7F22;
  border-radius: 50%;
  
    }

  }

  }


}
